<div class="custom-btn-wrapper">
  {# 判斷連結欄位是否有值 #}
  {% if module.link_field.url.href %}
    {% set href = module.link_field.url.href %}
    
    {# 處理 Email 格式 #}
    {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" ~ href %}
    {% endif %}

    {% if module.link_field.open_in_new_tab %}
    <a href="{{ href }}" class="custom-sliding-btn" target="_blank" rel="noopener noreferrer{% if module.link_field.no_follow %} nofollow{% endif %}">
    {% elif module.link_field.no_follow %}
    <a href="{{ href }}" class="custom-sliding-btn" rel="nofollow">
    {% else %}
    <a href="{{ href }}" class="custom-sliding-btn">
    {% endif %}
      <span class="btn-text">
        {{ module.link_field.link_text|default("MORE") }}
      </span>
    </a>
  {% else %}
    {# 預覽模式：若後台沒填網址，在編輯器顯示一個假的按鈕方便編輯 #}
    <span class="custom-sliding-btn">
      <span class="btn-text">請設定連結網址</span>
    </span>
  {% endif %}
</div>