<div class="button-container">

  {# 連結邏輯處理 #}
  {% if module.button_link.url.type is equalto 'EMAIL_ADDRESS' %}
    {% set href = 'mailto:' ~ module.button_link.url.href %}
  {% elif module.button_link.url.href == '/' %}
    {% set href = module.button_link.url.href %}
  {% else %}
    {% unless (module.button_link.url.href is string_containing '//') or !module.button_link.url.href %}
      {% set href = '//' ~ module.button_link.url.href %}
    {% else %}
      {% set href = module.button_link.url.href || '' %}
    {% endunless %}
  {% endif %}

  {% set button_classes = "button" ~ (module.style.button_type == 'secondary' ? ' button--secondary' : '') ~ (module.style.button_type == 'simple' ? ' button--simple' : '') ~ (module.style.button_size == 'small' ? ' button--small' : '') ~ (module.style.button_size == 'large' ? ' button--large' : '') ~ (module.button_icon.icon_position == 'right' ? ' button--icon-right' : '') %}

  {% if module.button_options.button_link_toggle == true %}
    {% if module.button_link.open_in_new_tab %}
    <a href="{{ href }}" target="_blank" rel="noopener noreferrer{% if module.button_link.no_follow %} nofollow{% endif %}" class="{{ button_classes }}" id="button_{{ name }}">
    {% elif module.button_link.no_follow %}
    <a href="{{ href }}" rel="nofollow" class="{{ button_classes }}" id="button_{{ name }}">
    {% else %}
    <a href="{{ href }}" class="{{ button_classes }}" id="button_{{ name }}">
    {% endif %}
  {% else %}
    <button type="button" class="{{ button_classes }}" id="button_{{ name }}">
  {% endif %}

    {# Icon 邏輯 #}
    {% if module.button_options.button_icon_toggle == true and module.button_icon.icon_field.unicode %}
      {% icon
        extra_classes='button__icon'
        name='{{ module.button_icon.icon_field.name }}'
        purpose='decorative'
        style='{{ module.button_icon.icon_field.type }}'
        unicode='{{ module.button_icon.icon_field.unicode }}'
      %}
    {% endif %}

    <span class="button__text">{{ module.button_text }}</span>

  {% if module.button_options.button_link_toggle == true %}
  </a>
  {% else %}
  </button>
  {% endif %}

</div>
